
<!-- string interpolation -->
<!-- the value is the come from the app.component.js-->
<!-- <h1>{{title}} *</h1>
<br> -->

<!--one way data binding is the one chnege the complnent side or view side-->
<!-- {{fullName}} -->



<!--ng Model is the two way data binding the value is change the both side like component and view page-->
<!-- <input type="text" [(ngModel)] = "title">
<br><br><br> -->

<!--we also pass the function also-->
<!-- {{getValue()}} -->


<!--Property binding -->
<!-- <h2 [innerHTML]="fullName"></h2>

<h2 [innerHTML]="title"></h2>

<button [disabled]="isDisabled">Submit</button>

<div [class.active]="isActive">This is the active div</div>

<h4 [style.color]="color">the color is red</h4>

<input [value]="inputValue"> -->

<!--Event Binding -->

<!-- <h3> Click the {{clickValue}} time</h3>

<button (click)="click()">Click Me!!</button><br><br>

  <button (click)="onButtonClick()">Click This</button>

  <p [style.color]="color">{{message}}</p>


  <input (input)="onInputChange($event)" placeholder="Enter the name buddy">

  <h4>Hi Your Name: {{inputText}}</h4>

  <p>pleace click the double time</p>
  <button (dblclick)="onDoubleClick()">Double Click Me!!</button>
  <p>
    {{doubleClick}}
  </p>

  <select (change)="onSelect($event)">
    <option value="moorthy">Moorthy</option>
    <option value="sudhan">Sudhan</option>
  </select>
  <h4>You select the name is: {{onSelection}}</h4>

  <button (click)="onclick()">Click Me</button>
  <p>Click Count:{{selectCount}}</p>

  <input (focus)="onfocus()" (blur)="onBlur()" placeholder="focus to me !">

  <p>{{focusMessage}}</p> -->




  <!--ngFor ->trackBy method-->
    <!-- <ul>
      <li *ngFor="let user of userList; trackBy:trackByUserId">{{user.name}}</li>
    </ul>

<div class=""></div> -->

<!-- <div>
  <button type="button" (click)="increament()">increament</button>
  <button type="button" (click)="decreament()">decreament</button>
<app-child [inputValue]="counter"></app-child>
</div> -->

    <!--custom Directive -->


    <!-- <input type="text" [(ngModel)]="valuedata">
    <div>
      <button (click)="show()">Show/Hide</button> <br><br>
      <app-life-cycle-hooks [value]="valuedata"  *ngIf="showData"></app-life-cycle-hooks>
    </div> -->

    <!-- <li *ngFor="let item of items">{{item.name}}</li>
    <button (click)="addItems()">Add Button</button> -->

    <!-- <ul>
      <li *ngFor="let item of items; trackBy: trackById">{{ item.name }}</li>
    </ul>
    <button (click)="addItems()">Add Item</button>

    <div [ngSwitch]="datanew">
      <p *ngSwitchCase="1">Case 1</p>
      <p *ngSwitchCase="2">Case 2</p>
      <p *ngSwitchDefault>Default Case</p>
    </div>

    <div [(ngModel)]="name">
<input type="text" [(ngModel)]="name"  (ngModelChange)="changeEvent($event)"/>

<p appHighlight >this is the yellow color</p>

<p>Counter: {{count()}}</p>
<button (click)="countIncreament()">increament</button><br><br>

<button (click)="countDecreament()">decreament</button><br><br>

<button (click)="logCount()">Log Count</button><br><br>


<button (click)="setLocalStorage()">Set the value for local stroage</button><br><br>

<button (click)="getLocalStorage()">To get the local stroage value: {{name}}</button><br><br>

<button (click)="removeLocalStorage()">Remove the local stroage value</button><br><br>

<button (click)="setSession()">Set the value for session</button><br><br>

<button (click)="getSession()">To get the session value</button><br><br>

<button (click)="removeSession()">Remove the session value</button><br><br> -->


<!-- <p>status:{{isActive()?'isActive':'Inactive'}}</p>
<button (click)="toggle()">toggle</button>
<div *ngIf="showAlert" class="alert">
  Now you see the Tamil content...
</div> -->
<!-- <div style="display: flex; flex-direction: column; gap: 20px;"></div>
<button (click)="setSignalValue(10)"></button>
<button (click)="getSignalValue()">Increment Value</button>
<button>Multiply Value by 5</button>
<app-observable></app-observable>
<app-subject></app-subject>
<app-async-subject></app-async-subject>
<app-behavior-subject></app-behavior-subject>
<app-replay-subject></app-replay-subject>

<p>Json:{{userValue|json}}</p><br>
<p>First 5 characters: {{ longText | slice:0:8 }}</p><br>
<p>First 3 items: {{ itemsValue | slice:0:5 | json }}</p> -->

<!-- <app-payment></app-payment>

<p>Inhertance method in angular </p>
<app-extended></app-extended>

<app-login></app-login> -->

<nav>
  <a routerLink="/dashboard/profile">Profile</a> | 
  <a routerLink="/dashboard/settings">Settings</a>
</nav>

<router-outlet></router-outlet>
